@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    
    .nav    
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } .nav ul{
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .banner{
        flex-direction: column-reverse;
        background-position: top center;
        width: 100%;
        gap: 50px;
        text-align: center;
        margin-top: 30px;
    }
    .banner .banner-content h1{
        font-size: 1.75rem;
    }
    .banner .banner-content p{
        font-size: 0.87rem;
    }
    .banner img{
        width: 100%;
    }

    .sponsor-area{
        padding: 30px;
        gap: 20px;
    }
    .collection-area {
        padding: 20px;
      }
    .collection-content{
        grid-template-columns: 1fr;
    }
   .featured-area{
    flex-direction: column-reverse;
    padding: 20px;
    gap: 40px;
   }
   .featured-img img{
    width: 100%;
   }
   .featured-con h2{
    padding-top: 30px;
   }
   .collection-area .btn {
    bottom: -44px;
    right: 66px;
}
   
    
}
@media screen and (min-width: 576px) and (max-width:990px) {
    header{
        padding: 50px;
    }
    
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav ul{
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .banner{
        flex-direction: column-reverse;
        background-position: top center;
        width: 100%;
        gap: 50px;
        text-align: center;
        margin-top: 30px;
    }
    .banner .banner-content h1{
        font-size: 1.75rem;
    }
    .banner .banner-content p{
        font-size: 0.87rem;
    }
    .banner img{
        width: 100%;
    }
    .sponsor-area{
        padding: 70px;
        gap: 30px;
    }
    .collection-area {
        padding: 50px;
      }
    .collection-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .featured-area{
        flex-direction: column-reverse;
        padding: 50px 100px;
        gap: 40px;
        text-align: center;
       }
       .featured-img img{
        width: 100%;
       }
       .featured-con h2{
        padding-top: 30px;
       }
       .collection-area .btn {
        bottom: -44px;
        right: 38%;
    }
}