@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    
    .nav{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .nav ul{
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    
}