@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    
    .nav
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } .nav ul{
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .banner{
        flex-direction: column-reverse;
        background-position: top center;
        width: 100%;
        gap: 50px;
        text-align: center;
        margin-top: 30px;
    }
    .banner .banner-content h1{
        font-size: 1.75rem;
    }
    .banner .banner-content p{
        font-size: 0.87rem;
    }
    .banner img{
        width: 100%;
    }
   
    
}
@media screen and (min-width: 576px) and (max-width:990px) {
    header{
        padding: 50px;
    }
    
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav ul{
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .banner{
        flex-direction: column-reverse;
        background-position: top center;
        width: 100%;
        gap: 50px;
        text-align: center;
        margin-top: 30px;
    }
    .banner .banner-content h1{
        font-size: 1.75rem;
    }
    .banner .banner-content p{
        font-size: 0.87rem;
    }
    .banner img{
        width: 100%;
    }
    
}